<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">How can you communicate?</p>
        <h4 class="section-title mb-5">Contact Me</h4>
        <!-- contact form -->
        <form [formGroup]="form" (ngSubmit)="sendEmail()" class="contact-form col-md-10 col-lg-8 m-auto">
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <input type="text" size="50" class="form-control" placeholder="Subject" formControlName="subject" [ngClass]="{ 'is-invalid':submited && f['subject'].errors }" />
                    <div *ngIf="f['subject'].errors" class="invalid-feedback">
                        <div *ngIf="submited &&f['subject'].errors">Subject is required</div>
                    </div>                 
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Your Name" formControlName="name" [ngClass]="{ 'is-invalid':submited && f['name'].errors }" />
                    <div *ngIf="f['name'].errors" class="invalid-feedback">
                        <div *ngIf="submited &&f['name'].errors">Name is required</div>
                    </div>                   
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email" [ngClass]="{ 'is-invalid':submited && f['email'].errors }" />
                    <div *ngIf="f['email'].errors" class="invalid-feedback">
                        <div *ngIf="submited &&f['email'].errors">Email is invalid</div>
                    </div>                  
                </div>
                <div class="form-group col-sm-12">
                    <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Write Something" formControlName="message" [ngClass]="{ 'is-invalid':submited && f['message'].errors }"></textarea>
                    <div *ngIf="f['message'].errors" class="invalid-feedback">
                        <div *ngIf="submited &&f['message'].errors">Name is required</div>
                    </div> 
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">                  
                </div>
            </div>  
        </form><!-- end of contact form -->
    </div><!-- end of container -->
  </section><!-- end of contact section -->
