/* Container to hold the scrolling content */
.scrolling-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* Wrapper to contain both lists */
.scrolling-wrapper {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}

/* List to be scrolled */
.scrolling-list {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

/* Ensure all list items are evenly spaced and have no default list styling */
.scrolling-list li {
  list-style: none;
  flex: 0 0 auto;
  margin: 0 8px;
}

.image {
  height: 100px;
  width: 140px;
}

/* Keyframe animation for infinite scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
