<div class="scrolling-container">
    <div class="scrolling-wrapper">
        <ul class="scrolling-list">
            <li *ngFor="let technologie of technologies">
                <img class="image"
                  [src]="technologie.image"
                  alt="{{technologie.name}}"
                />
            </li>
        </ul>
        <ul class="scrolling-list">
            <li *ngFor="let technologie of technologies">
                <img class="image"
                  [src]="technologie.image"
                  alt="{{technologie.name}}"
                />
            </li>
        </ul>
    </div>
</div>
