<div class="scrolling-container">
    <ul class="scrolling-list">
        <li *ngFor="let technologie of technologies">
            <img class="image"
              [src]="technologie.image"
              alt="{{technologie.name}}"
            />
          </li>
          <!-- <li *ngFor="let technologie of technologies">
            <img class="image"
              [src]="technologie.image"
              alt="{{technologie.name}}"
            />
          </li> -->
          
    </ul>
  </div>
  