<section class="section" id="service">
    <div class="container text-center">
        <p class="section-subtitle">What I Do ?</p>
        <h4 class="section-title mb-6">Service</h4>
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/responsive.svg" class="icon">
                        <h4 class="title">Software Development</h4>
                        <p class="subtitle">Crafting custom software solutions to meet your unique business needs and drive innovation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/analytics.svg" class="icon">
                        <h4 class="title">Web Application</h4>
                        <p class="subtitle">Developing responsive and scalable web applications that enhance user engagement and streamline your operations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/usability.svg" class="icon">
                        <h4 class="title">Mobile Application</h4>
                        <p class="subtitle">Creating intuitive and high-performing mobile apps to provide seamless experiences and extend your reach.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/startup.svg" class="icon">
                        <h4 class="title">IT Consulting</h4>
                        <p class="subtitle">Expert guidance to optimize your IT infrastructure, enhance efficiency, and drive business growth.</p>
                    </div>
                </div>
            </div>
        </div><!-- end of row -->
    </div>
  </section>