<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img [src]="peep" class="about-img" >
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                 {{description}}
                </p>
                <div class="docs">
                    <a class="btn-rounded btn btn-outline-primary" [href]="resume" target="_blank">
                        View Resume
                    </a>
                </div>
            </div>              
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
  </section> 