
<!-- footer -->
<div class="container">
    <footer class="footer">       
        <p class="mb-0">Copyright {{today.getFullYear()}} &copy; <a>Islem Ghariani</a></p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.facebook.com/ghirr.02/" class="link" target="_blank"><i class="ti-facebook"></i></a>
            <a href="https://www.instagram.com/islemghariani/" class="link" target="_blank"><i class="ti-instagram"></i></a>
        </div>
    </footer>
  </div> <!-- end of page footer -->