<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up" id="greeting"></span> <!-- Add id for greeting -->
            <span class="down" id="description"></span> <!-- Add id for description -->
        </h1>
        <p class="header-subtitle" id="subtitle"></p> <!-- Add id for subtitle -->
        <button class="btn btn-primary">Visit My Works</button>
    </div>              
</header><!-- end of page header -->
