<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up" id="greeting"></span> <!-- Add id for greeting -->
            <span class="down" id="description"></span> <!-- Add id for description -->
        </h1>
        <p class="header-subtitle" id="subtitle"></p> <!-- Add id for subtitle -->
        <div class="d-flex justify-content-center">
            <button style="margin-right: 20px;" class="btn btn-outline-dark">
                <a href="https://github.com/ghirr" style="color: inherit;">
                <img class="icon" src="assets/imgs/github.svg">
                Github</a></button>
            <button class="btn btn-outline-dark">
                <a href="https://linkedin.com/in/islem-ghariani" style="color: inherit;">
                    <img class="icon" src="assets/imgs/linkedin.svg">
                    Linkedin
                </a></button>
            </div>
    </div>              
</header><!-- end of page header -->
