<!-- portfolio section -->
<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">What I Did ?</p>
        <h4 class="section-title mb-6">Portfolio</h4>
        <!-- row -->
        <div class="row">
            <div *ngFor="let project of projects" class="col-md-6 project-wrapper">
                <div class="card modern-card">
                  <div class="project-header">
                    <div class="project-title">
                      <h3>{{ project.name }}</h3>
                    </div>
                  </div>
                  <div id="carouselExampleIndicators{{ project.id }}" class="carousel slide project-carousel" data-ride="carousel" data-interval="10000" data-wrap="true" data-pause="hover">
                    <ol class="carousel-indicators">
                      <li *ngFor="let image of project.images; let i = index" [attr.data-slide-to]="i"
                          [class.active]="i === 0" [attr.data-target]="'#carouselExampleIndicators' + project.id"></li>
                    </ol>
                    <div class="carousel-inner carousel-img">
                      <div *ngFor="let image of project.images; let i = index" class="carousel-item" [class.active]="i === 0">
                        <img class="d-block w-100 project-image" [src]="image.imageUrl" alt="Slide {{ i + 1 }}">
                        <div class="image-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-body">
                    <div class="technologies-section">
                      <div class="technologies">
                        <span *ngFor="let tech of project.project_technologies" class="tech-badge">
                          <img [src]="tech.technologie.image" class="tech-icon">
                          <span class="tech-name">{{ tech.technologie.name }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="project-description">
                      <h6 class="description-title">{{ project.description_title }}</h6>
                      <div class="desc-content">
                        <ul class="task-list">
                          <li *ngFor="let task of project.project_tasks" class="task-item">
                            <span class="task-bullet"></span>
                            <span>{{ task.task }}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-footer">
                    <div class="btn-container">
                      <a class="btn btn-modern btn-source" [href]="project.source" target="_blank">
                        <img class="icon" src="assets/imgs/github.svg" alt="GitHub">
                        <span>View Source</span>
                      </a>
                      <a *ngIf="project.report" class="btn btn-modern btn-report" [href]="project.report" target="_blank">
                        <img class="icon" src="assets/imgs/book.svg" alt="Report">
                        <span>Report</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </section>
